* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #ccc;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
}

html,
body {
  touch-action: manipulation;
}

#sidebar {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.control_bar {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 6px;
  padding: 10px 12px;
  white-space: nowrap;
  /* Prevents text from wrapping */
  overflow: hidden;
  /* Hides overflowing text */
}

#data_form {
  display: flex;
  gap: 10px;
  align-items: center;
}

#data_form input {
  font-size: 16px;
}

#data_form input {
  padding: 6px;
  flex: 1;
  min-width: 120px;
  max-width: 120px;
  border-radius: 6px;
  border: 1px solid black;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#data_form button {
  padding: 6px 10px;
  margin-left: 10px;
  border-radius: 6px;
  background: #1f6feb;
  color: white;
  border: 1px solid #1f6feb;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
    min-width: 120px;
  max-width: 100%;
}

#data_form button:hover {
  background-color: white;
  color: #1f6feb;
  border: 1px solid #1f6feb;
}

.field {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Legend */
.circle {
  border-radius: 50%;
  border: 0.5px solid black;
}

.circle-1 {
  width: 8px;
  height: 8px;
  background-color: #FF8A8A;
}

.circle-2 {
  width: 11px;
  height: 11px;
  background-color: #FF2E2E;
}

.circle-3 {
  width: 14px;
  height: 14px;
  background-color: #A30000;
}

.circle-4 {
  width: 17px;
  height: 17px;
  background-color: #470000;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width: 850px) {

  .control_bar {
    left: auto;
    right: 20%;
    transform: none;
    /* max-width: 70%;  */
  }

  #data_form {
    flex-wrap: wrap;
  }

  /* Move magnitude group and button to second line */
  .field:nth-child(3),
  #data_form button {
    flex-basis: 100%;
  }

  .leaflet-control-attribution {
    text-align: right;
    max-width: 70%;
  }

  #data_form button {
  margin-left: 2px;
  }
}